#header {
  margin: 0;
  width: 100%;
  color: orange;
  background-color: gray;
  text-decoration: none;
}
.form {
  margin: 10px;
  align-content: center;
}
html, body, h1 {
 margin: 0;
 margin-top: 0;
}
.side {
  float: left;
  width: 50%;
}
